<div class="nav justify-content-between align-center align-items-center">
  <h1><%= @task.title %></h1>
  <%= link_to "<div class='btn btn-secondary'>Edit task</div>".html_safe, edit_path(@task.id) %>
</div>
<div class="card mb-3">
  <div class="card-body">
    <%= @task.details %>
  </div>
</div>

<% a = "fa-square" %>
<% b = "This task is not completed" %>
<% a = "fa-check-square" if @task.completed %>
<% b = "This task has been completed" if @task.completed %>

<p><i class="fa <%= a %>"></i> <%= b %></p>

<%= link_to "<div class='btn btn-primary'><i class='fa fa-undo'></i> Go back</div>".html_safe, root_path %>
